body {
  font-family: Arial, sans-serif;
  padding: 15px;
}

.container {
  width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

textarea {
  width: 300px;
  height: 500px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  background-color: #4CAF50;
  color: #fff;
}

button:hover {
  background-color: #45a049;
}
